        ul {
            list-style: none;     
            padding: 0;
            margin: 0;
            width: 200px;          /* Ancho del menú */
            background: #005f9e;   /* Color de fondo */
        }

        ul li a {
            display: block;
            padding: 15px;
            color: white;
            text-decoration: none;
            font-family: Arial;
            font-size: 18px;
            transition: 0.3s;
        }

        ul li a:hover {
            background: #003e66;   /* Color al pasar el mouse */
            padding-left: 25px;    /* Animación hacia la derecha */
        }